.rightContainerScreens {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 100%;
	width: 100%;
	border-radius: 20px 0px 0px 20px;
	background-color: #fafafa;
	padding: 5.5rem;
	gap: 64px;
}

.headerContainerScreens {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: fit-content;
	width: 100%;
}

.textContentHeader {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.headerTitle {
	font-size: 2.5rem !important;
	color: var(--text-color-dark) !important;
}

button {
	width: 200px;
	height: 45px;
	padding: 0 !important;
	flex-shrink: 0;
}
