.modalContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1000;
}

.modalContentEdit {
	width: 418px;
	background: #fff;
	border-radius: 6px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.modalHeaderView {
	align-self: stretch;
	padding: 24px;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	display: flex;
	gap: 6px;
	background-color: var(--gray-background-color);
	border-radius: 6px;
}

.modalBody {
	width: 100%;
	height: fit-content;
	padding: 24px 24px 0 24px;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 16px;
	display: flex;
}

.infoText {
	align-self: stretch;
	color: #09090b;
	font-size: 14px;
	font-family: var(--font-family);
	font-weight: 600;
	word-wrap: break-word;
}

.displayText {
	align-self: stretch;
	color: #09090b;
	font-size: 14px;
	font-family: var(--font-family);
	font-weight: 700;
	word-wrap: break-word;
}

.displayDescription {
	width: 100%;
	height: auto;
	padding: 8px;
	border: none;
	background-color: transparent;
	color: #09090b;
	font-size: 14px;
	font-family: var(--font-family);
	font-weight: 700;
	word-wrap: break-word;
	resize: none;
	overflow: hidden;
}

.modalTitle {
	align-self: stretch;
	color: #09090b;
	font-size: 24px;
	font-family: var(--font-family);
	font-weight: 700;
	line-height: 28.8px;
	word-wrap: break-word;
}

.modalSubTitle {
	align-self: stretch;
	color: var(--text-color-gray);
	font-size: 14px;
	font-family: var(--font-family);
	font-weight: 500;
	word-wrap: break-word;
}

.upperContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	gap: 16px;
}

.lowerContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.infoContainer {
	width: 100%;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	display: inline-flex;
	gap: 6px;
}

.labelTitle {
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	display: inline-flex;
}

.infoContainerEditModal {
	width: 100%;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	display: inline-flex;
	gap: 6px;
}

.displayContainerEdit {
	width: 100%;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	display: inline-flex;
	gap: 12px;
}

.displayContentEdit {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background: 'inherit';
	border: 1px solid #e4e4e7;
	border-radius: 6px;
	width: 100%;
	gap: 8px;
}

.descriptionContainer {
	width: 100%;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	display: inline-flex;
	gap: 6px;
}

.descriptionContentEdit {
	display: flex;
	padding: 10px 12px 10px 12px;
	justify-content: flex-start;
	align-items: center;
	background: #ededed;
	border-radius: 6px;
	width: 100%;
}

.confirmText {
	align-self: stretch;
	text-align: center;
	color: #2c2c2e;
	font-size: 24px;
	font-family: var(--font-family);
	font-weight: 900;
	text-transform: capitalize;
	line-height: 43.68px;
	word-wrap: break-word;
}

.confirmContainer {
	align-self: stretch;
	height: 88px;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	display: flex;
}

.modalFooter {
	display: flex;
	padding: 24px;
	justify-content: flex-end;
	align-items: center;
	gap: 24px;
	align-self: stretch;
}
.footerButtons {
	display: flex;
	height: 40px;
	padding: 10px 16px !important;
	justify-content: center;
	align-items: center;
	gap: 8px;
	width: fit-content;
}
.cancelButton {
	background-color: #fff;
	color: var(--text-color-dark);
	border: 1px solid #e4e4e7;
}

.cancelButton:hover {
	background-color: #f9f9f9;
}
