* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary-color: #2c2c2e;
	--secondary-color: #b95e5e;
	--background-color: #242424;
	--light-background-color: #ffffff;
	--text-color: rgba(255, 255, 255, 0.87);
	--text-color-dark: #2c2c2e;
	--text-color-gray: #949494;
	--link-text-color: #605bff;
	--button-background-color: #242424;
	--button-background-color-secondary: #ffffff;
	--button-text-color: #fff;
	--button-text-color-secondary: #242424;

	--input-color: #f7f7f8;

	--font-family: "Nunito", system-ui, Avenir, Helvetica, Arial, sans-serif;
	--font-size: 16px;
	--line-height: 1.5;
	--font-weight: 400;
	--heading-font-weight: 700;
	--heading-font-size: 2em;
}

h1 {
	font-size: var(--heading-font-size);
	font-weight: var(--heading-font-weight);
	color: var(--text-color);
	font-family: var(--font-family);
}

a {
	text-decoration: none;
	color: var(--text-color);
}

p {
	color: var(--text-color);
	font-family: var(--font-family);
}

input {
	background-color: var(--input-color);
	border: 0 !important;
	border-radius: 10px !important;
	color: var(--text-color-gray);
	font-family: var(--font-family);
	font-weight: 600;
}

label {
	color: var(--text-color-dark);
	font-family: var(--font-family);
	font-weight: 700;
}

button {
	border-radius: 8px;
	padding: 0.6em 3.6em !important;
	font-size: 1em;
	font-weight: 500;
	font-family: var(--font-family) !important;
	background-color: var(--button-background-color);
	cursor: pointer;
	transition: border-color 0.25s;
	color: var(--button-text-color);
}

button:hover {
	background-color: #414144;
	transition: background-color 0.5s;
}

#root {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #2c2c2e;
}

html,
body,
#root {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.custom-toaster button {
	background-color: var(--button-background-color-secondary);
	color: var(--button-text-color-secondary);
	border: none;
	border-radius: 999;
	padding: 0 !important;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.custom-toaster button:hover {
	background-color: #ededed !important;
}
