.containerSideMenu {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 100%;
	width: 18%;
	padding: 40px;
	gap: 4.25rem;
}
.headerContainer {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.imageContainer {
	display: flex;
	width: 20%;
	resize: contain;
	border-radius: 12px;
}

.navigationContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 32px;
}

.footerContainer {
	display: flex;
	margin-top: auto;
	flex-direction: row;
	gap: 12px;
	align-items: center;
	height: 5%;
	width: 100%;
	color: var(--text-color);
}

.textNavigation {
	color: var(--text-color);
	font-size: 1.1rem;
	cursor: pointer;
}

.textNavigation:hover {
	color: var(--hover-color);
}

.menuItem {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 12px;
}

.menuItem:hover {
	background-color: var(--background-hover-color);
	color: var(--text-color);
	border-radius: 4px;
	padding: 2px 12px;
	transition: background-color 0.5s;
	transition: color 0.5s;
	transition: padding 0.25s;
}

h1 {
	color: var(--text-color) !important;
	font-size: 1.5rem !important;
	font-weight: 700 !important;
}
